
@import 'block/variables';
*{
	font-family: 'Poppins', sans-serif;
}
	
.container{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
  @media (max-width: 1350px) {
	padding: 0 16px;
  }

}
@import 'block/header';
@import 'block/section__info';
@import 'block/section__about';
