.section__about{
  &.about__first{
	padding: 250px 0 180px 0;
	background: #EEF5FF;
	@media (max-width: 768px) {
	  padding: 50px 16px;
	}
	.about__item-img{
	  background: linear-gradient(135deg, #5E56FF 0%, #55AAFF 100%);
	  box-shadow: 0px 5px 30px rgba(89, 128, 255, 0.25);
	}
  }
  .about{
	display: flex;
	@media (max-width: 768px) {
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;

	}
	&__item{
	  &.image__item{
		@media (max-width: 1500px) {
			img{
			  max-width: 100%;
			  width: 100%;
			  height: auto;
			}
		}
	  }
	  flex: 0 0 50%;
	  margin-right: 64px;
	  @media (max-width: 768px) {
		flex: 0 0 100%;
		margin: 0;
		padding: 16px;
	  }

	  &-img{
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 20px;
		@media (max-width: 768px) {
		  display: none;
		}
		img{
		  width: 40px;
		  height: auto;
		}
	  }
	  .about__title{
		margin-top: 60px;
		font-family: Poppins;
		font-style: normal;
		font-weight: 500;
		font-size: 55px;
		line-height: 70px;
		color: $text1;
		letter-spacing: -0.04em;
		@media (max-width: 1500px) {
		  font-size: 45px;
		  line-height: 50px;
		  margin-top: 35px;
		}
		@media (max-width: 992px) {
		  font-size: 35px;
		  line-height: 40px;

		}
		@media (max-width: 1300px) {
		  padding-right: 50px;

		}
		@media (max-width: 768px) {
		  margin-top: 30px;
		  font-size: 25px;
		  line-height: 24px;
		  padding: 0;
		}
		@media (max-width: 375px) {
		  margin-top: 30px;
		  font-size: 28px;
		  line-height: 29px;
		  padding: 0;
		}
	  }
	  .about__text{
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 34px;
		color: $text2;
		margin-top: 30px;
		@media (max-width: 1500px) {
		  margin-top: 15px;
		}
		@media (max-width: 1300px) {
		  padding-right: 60px;
		  font-size: 16px;
		  line-height: 28px;

		}
		@media (max-width: 1280px) {
		  padding-right: 60px;

		}
		@media (max-width: 768px) {
		  font-size: 15px;
		  line-height: 20px;
		}

	  }
	  .about__btn{
		display: flex;
		justify-content: center;
		align-items: center;
		background: $basic6;
		width: 190px;
		height: 61px;
		box-shadow: 0px 10px 25px rgba(148, 174, 213, 0.15);
		border-radius: 10px;
		font-family: Poppins;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		margin-top: 60px;
		@media (max-width: 1500px) {
		  margin-top: 35px;
		}
		@media (max-width: 1280px) {
		  margin-top: 20px;

		}
		@media (max-width: 768px) {
		  margin-top: 20px;
		  color:  #5696FF ;
		  width: 136px;
		  height: 44px;
		  font-weight: 600;
		  font-size: 13px;
		  line-height: 19px;
		  }

		&:hover{
		  background: $basic1;
		  color: $text6;
		  transition: .3s all ease;
		  .svg{
			fill: $text6;
			transition: .3s all ease;
		  }
		}
		svg{
		  width: 21px;
		  height: auto;
		  margin-left: 19px;
		}
	  }
	}
  }
}