$bg1: linear-gradient(107.3deg, #5E56FF 0%, #55AAFF 100%);
$bg2: #E3EEFF;
$bg3: #EEF5FF;



$basic1: #5696FF;
$basic2: #62CF86;
$basic3: #59C67D;
$basic4: #C1D0E6;
$basic5: #ACBFDC;
$basic6: #FFFFFF;

$text1: #020940;
$text2: #343A67;
$text3: #5F648C;
$text4: #808CAD;
$text5: #8BA0C9;
$text6: #ffffff;

